apiVersion: v1
data:
  config.yaml: |
    branch-protection:
      protect-tested-repos: true
    github:
      LinkURL: null
    in_repo_config:
      enabled:
        mashaya/go-lang-test: true
        mashaya/jx3-k8s: true
        mashaya/test-ms: true
    plank: {}
    pod_namespace: jx
    prowjob_namespace: jx
    push_gateway:
      serve_metrics: true
    tide:
      context_options:
        from-branch-protection: true
        required-if-present-contexts: null
        skip-unknown-contexts: false
      merge_method:
        mashaya/go-lang-test: merge
        mashaya/jx3-k8s: merge
        mashaya/test-ms: merge
      queries:
      - labels:
        - approved
        missingLabels:
        - do-not-merge
        - do-not-merge/hold
        - do-not-merge/work-in-progress
        - needs-ok-to-test
        - needs-rebase
        repos:
        - mashaya/jx3-k8s
        - mashaya/go-lang-test
        - mashaya/test-ms
      - labels:
        - updatebot
        missingLabels:
        - do-not-merge
        - do-not-merge/hold
        - do-not-merge/work-in-progress
        - needs-ok-to-test
        - needs-rebase
        repos:
        - mashaya/jx3-k8s
        - mashaya/go-lang-test
        - mashaya/test-ms
      target_url: http://dashboard-jx.prod.jx.nile-global.cloud
kind: ConfigMap
metadata:
  creationTimestamp: null
  name: config
  namespace: jx
  labels:
    gitops.jenkins-x.io/pipeline: 'namespaces'
