apiVersion: v1
data:
  config.yaml: |
    branch-protection:
      protect-tested-repos: true
    github:
      LinkURL: null
    in_repo_config:
      enabled:
        mashaya/enkgolang: true
        mashaya/go-lang-test: true
        mashaya/go-lang-test1: true
        mashaya/jx3-k8s: true
        mashaya/jx3-k22s: true
        mashaya/sbhg: true
        mashaya/testproject: true
        mashaya/testqwer: true
        mashaya/ttestt: true
        mashaya/ttteesst: true
    plank: {}
    pod_namespace: jx
    prowjob_namespace: jx
    push_gateway:
      serve_metrics: true
    tide:
      context_options:
        from-branch-protection: true
        required-if-present-contexts: null
        skip-unknown-contexts: false
      merge_method:
        mashaya/enkgolang: merge
        mashaya/go-lang-test: merge
        mashaya/go-lang-test1: merge
        mashaya/jx3-k8s: merge
        mashaya/jx3-k22s: merge
        mashaya/sbhg: merge
        mashaya/testproject: merge
        mashaya/testqwer: merge
        mashaya/ttestt: merge
        mashaya/ttteesst: merge
      queries:
      - labels:
        - approved
        missingLabels:
        - do-not-merge
        - do-not-merge/hold
        - do-not-merge/work-in-progress
        - needs-ok-to-test
        - needs-rebase
        repos:
        - mashaya/jx3-k8s
        - mashaya/jx3-k22s
        - mashaya/enkgolang
        - mashaya/go-lang-test
        - mashaya/go-lang-test1
        - mashaya/sbhg
        - mashaya/testproject
        - mashaya/testqwer
        - mashaya/ttestt
        - mashaya/ttteesst
      - labels:
        - updatebot
        missingLabels:
        - do-not-merge
        - do-not-merge/hold
        - do-not-merge/work-in-progress
        - needs-ok-to-test
        - needs-rebase
        repos:
        - mashaya/jx3-k8s
        - mashaya/jx3-k22s
        - mashaya/enkgolang
        - mashaya/go-lang-test
        - mashaya/go-lang-test1
        - mashaya/sbhg
        - mashaya/testproject
        - mashaya/testqwer
        - mashaya/ttestt
        - mashaya/ttteesst
      target_url: http://dashboard-jx.prod.jx.nile-global.cloud
kind: ConfigMap
metadata:
  creationTimestamp: null
  name: config
  namespace: jx
  labels:
    gitops.jenkins-x.io/pipeline: 'namespaces'
