apiVersion: gitops.jenkins-x.io/v1alpha1
kind: SourceConfig
metadata:
  creationTimestamp: null
spec:
  groups:
  - owner: mashaya
    provider: https://github.com
    providerKind: github
    repositories:
    - name: go-lang-test
    - name: test-ms
    scheduler: in-repo
  jenkinsServers:
  - groups:
    - owner: mashaya
      provider: https://github.com
      providerKind: github
      repositories:
      - name: spmjf
    server: myjenkins
  slack:
    channel: '#jenkins-x-pipelines'
    kind: failureOrNextSuccess
    pipeline: release
